<html> 

<head>
    <title>NodeJs</title>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <!-- CDN awesome
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!--bootstrap bản củ-->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
   
    <!--load CDN-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="assets/js/remove.js"></script>
</head>

<body  style="background-color: rgb(231, 229, 116); ">
    <div class="container">
        <br><br>

        <div class="jumbotron text-center">
            <h1><span class="label label-info">Controller Led</span></h1><br><br>
            <button  class="s-on"> ON led</button>
            <button  class="s-off"> OFF led</button><br><br>  

            <div class="sang">
                <i class="fa fa-lightbulb" style="font-size:100px;color:yellow;"></i><br><br><br>
            </div>
                
            <div class="tat">
                <i class="far fa-lightbulb"style="font-size:100px;"></i><br><br><br>
            </div>
        </div>
   
        <!--
        <script>
            $.ajax({
                type: "POST",
                url: "/loginjson",
                data: JSON.stringify({ firstName: "Hoa", lastName: "Mai"}),
                dataType:"json",
                contentType:"application/json"
            })
        </script>
        -->
    </div>
</body>

</html>